extends layout

block body

    div.productListcont(
        ng-controller="ProductListCtl"
    )

        h3.
            List of Products

        button.btn(
            role="button",
            ng-click="editProduct('new')",
            data-toggle="modal",
            data-target="#editModal",
            href="#editModal"
        ).
            New

        table.table.table-striped
            thead
                tr
                    th.
                        Product

            tbody
                tr(ng-repeat="product in products")
                    td.
                        {{product.name}}
                    td.
                        {{product.sku}}
                    td.
                        {{product.description}}
                    td.
                        {{product.price}}
                    td
                        button.btn(
                            role="button",
                            ng-click="editProduct(product)",
                            data-toggle="modal",
                            data-target="#editModal",
                            href="#editModal"
                        ).
                            Edit

        .modal.fade#editModal(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(
                            type="button",
                            data-dismiss="modal",
                            aria-hidden="true"
                        )
                            | x

                        h3(ng-hide='newProduct')
                            | Edit Product: {{product.name}}

                        h3(ng-show='newProduct')
                            | New Product

                        form
                            fieldset
                                .modal-body.container
                                    .form-group
                                        label
                                            | Name
                                        input.form-control(ng-model='product.name')
                                    .form-group
                                        label
                                            | Sku
                                        input.form-control(ng-model='product.sku')
                                    .form-group
                                        label
                                            | Price
                                        input.form-control(ng-model='product.price')
                                    .form-group
                                        label
                                            | Description
                                        textarea.form-control(ng-model='product.description')

                                .modal-footer

                                    button.btn.btn-primary.pull-right(
                                        type="submit",
                                        data-dismiss="modal",
                                        ng-click="saveProduct(product)"
                                    )
                                        | Save

                                    button.btn.btn-danger.pull-right(
                                        type="submit",
                                        data-dismiss="modal",
                                        ng-click="deleteProduct(product)"
                                    )
                                        | Delete


//-            ng-include(src="'event-detail.html'")